[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal
[submodule "themes/hugo-theme-itheme"]
	path = themes/hugo-theme-itheme
	url = https://github.com/floyd-li/hugo-theme-itheme.git
