{{ $cover := site.Params.defaultCover}} {{ if .context.Params.cover }} {{ $cover
= .context.Params.cover }} {{ end }} {{- with .context.Resources.GetMatch
(printf "%s" ($cover)) -}} {{- $cover = .RelPermalink -}} {{- end -}}

<!-- Set proper image prefix based on pagination page number -->
{{ $imgPrefix := "../" }} {{ if gt .pageNumber 1 }} {{ $imgPrefix = "../../../"
}} {{ end }}

<!-- Set final image URL based on whether it's absolute or relative -->
{{ $finalCover := $cover }} {{ if not (or (hasPrefix $cover "http") (hasPrefix
$cover "/")) }} {{ $finalCover = print $imgPrefix $cover }} {{ end }}

<a
  href="{{ .context.Permalink }}"
  class="result__item row-anchor"
  aria-label="{{ .context.Title }}"
>
  <picture class="viewport-picture">
    <source media="(max-width: 734px)" srcset="{{ $finalCover }}" />
    <img
      class="viewport-image"
      src="{{ $finalCover }}"
      srcset="{{ $finalCover }}"
      aria-hidden="true"
      alt=""
    />
  </picture>
  <div class="item__content">
    <p class="item__category category_update">
      {{ if .context.Params.tags }} {{ range first 1 .context.Params.tags }}
      {{.}} {{ end }} {{ end }}
    </p>
    <h3 class="item__headline">{{ .context.Title }}</h3>
    <p class="item__date">{{ .context.Date | time.Format ":date_long" }}</p>
  </div>
</a>
